unalias rf  &>/dev/null
unalias rm  &>/dev/null
unalias cp  &>/dev/null
unalias mv  &>/dev/null
unalias grc &>/dev/null
unalias git &>/dev/null
unalias ls &>/dev/null

alias count="wc -l"

alias grep='grep --color'
if command -v bat &> /dev/null; then
  alias cat='$(which bat)'
fi


# Aliases to protect against overwriting

{{ if (not (eq .chezmoi.os "linux")) }}
alias rm='rm --interactive=once -I'
{{ end }}

# general aliases
alias diff='colordiff'
alias fuck='sudo $(fc -ln -1)'
alias grep='grep --color=always'
alias mtr='grc mtr'
alias netstat='grc netstat'
alias ping='grc ping'
alias ps='grc ps aux'
alias rzsh='source ~/.zshrc'
alias tail='grc tail'
alias tailf='tail -f'
alias traceroute='grc traceroute'
alias yolo=fuck
alias zshconfig='vim ~/.zshrc'
alias chownme='chown -R $(id -u):$(id -g)'
alias cz=chezmoi

# Mirror a website
alias mirrorsite='wget -m -k -K -E -e robots=off'

# Git Aliases
if command -v git &> /dev/null; then
  alias gb='git branch'
  alias gcb='git rev-parse --abbrev-ref HEAD' # current branch
  alias gco='git checkout'
  alias gnb='git checkout -b'
  alias gcof='gco $(git rev-list --all | rg $(git rev-parse HEAD) -B1 | head -n 1)'
  alias gcop='gco $(git rev-list --all | rg $(git rev-parse HEAD) -A1 | tail -n 1)'
  alias gch='gco HEAD'
  alias gst='git status -s'
  alias gdf='git diff'
  alias gpl='git pull'
  alias gps='git push'
  alias gmine='git log --author="$(git config --get user.name)" --grep="^[a-zA-Z0-9]{7} ((?![mM]erge).*)$" --perl-regexp'
  alias gb-merged='gb --merged | rg -v "$GIT_CLEAR_BRANCH_EXCLUDE" | rg -v "`gcb`"'
  alias gb-lo='gb -vv | rg "$GIT_CLEAR_BRANCH_EXCLUDE" -v | rg -v "`gcb`" | rg ": gone]" | awk "{ print $1; }"'
  alias gsl='git stash list'
  alias gsa='git stash'
  alias gsp='git stash pop'
  alias g-cp='git cherry-pick'
  alias g-rb='git rebase -i'
  alias g-rbc='git rebase --continue'
  alias g-rba='git rebase --abort'
  alias g-cpc='git cherry-pick --continue'
  alias g-cpa='git cherry-pick --abort'
fi
# ------------------------------------
# Docker alias
# ------------------------------------
if command -v docker &> /dev/null; then
  # Get latest container ID
  alias dl="docker ps -l -q"

  # Get container process
  alias dps="docker ps"

  # Get process included stop container
  alias dpa="docker ps -a"

  # Get images
  alias di="docker images"

  # Get container IP
  alias dip="docker inspect --format '{{`{{ .NetworkSettings.IPAddress }}`}}'"

  # Run deamonized container, e.g., $dkd base /bin/echo hello
  alias dkd="docker run -d -P"

  # Run interactive container, e.g., $dki base /bin/bash
  alias dki="docker run -i -t -P"

  # Execute interactive container, e.g., $dex base /bin/bash
  alias dex="docker exec -i -t"

  alias dls='docker ps --format "table  {{`{{.Names}}`}}\t{{`{{.Status}}`}}\t{{`{{.Ports}}`}}"'
fi

alias wrl='source $HOME/.zshrc'

# utilities
alias todos="rg -e '(//|#|<!--|;)\s*(TODO|FIXME)'"
alias hosts="cat /etc/hosts"
alias ehosts="sudo vi /etc/hosts"
alias h="fc -li"

{{- if .install.node }}
# yarn
alias y="yarn"
alias yr="yarn run"
alias yw="yarn workspace"
alias ys="yarn start"
alias yi="yarn install"
alias yii="yarn install --immutable"
alias yc="yarn cache clean"
alias nocolor='sed -r "s/\x1B\[([0-9]{1,3}(;[0-9]{1,2})?)?[mGK]//g"'
{{- end }}

if type xcp &> /dev/null ; then
  alias cp=xcp
fi

# ls aliases
alias ls='eza -A --color=always'
alias ll='ls -l --icons=always'
alias lt='ls -l --icons=always --tree -L2'
