#!/usr/bin/env zsh
set -Eeuo pipefail # -e: exit on error

{{ if eq .chezmoi.os "darwin" }}
if [ -d /opt/homebrew ]; then
  export HOMEBREW_PREFIX="/opt/homebrew"
elif [ -d /usr/local/homebrew ]; then
  export HOMEBREW_PREFIX="/usr/local/homebrew"
fi
{{ end }}
{{ if eq .chezmoi.os "linux" }}
if [ -d /home/linuxbrew/.linuxbrew ]; then
  export HOMEBREW_PREFIX="/home/linuxbrew/.linuxbrew"
elif [ -d $HOME/.linuxbrew ]; then
  export HOMEBREW_PREFIX="$HOME/.linuxbrew"
fi
{{ end }}

eval "$($HOMEBREW_PREFIX/bin/brew shellenv)"

eval "$($(brew --prefix)/bin/mise activate zsh --shims)"
eval "$($(brew --prefix)/bin/mise activate zsh)"

{{- if .install.node }}
mise use -g nodejs@latest
mise use -g bun@latest
{{- end }}
{{- if .install.rust }}
mise use -g rust@latest
{{- end }}
{{- if .install.golang }}
export GOPATH=$HOME/work/go
mise use -g go@latest
{{- end }}
{{- if .install.ruby }}
mise use -g ruby@latest
{{- end }}

mise use -g python@latest

{{- if .install.reactnative }}
## TODO REVIEW THIS
# sudo gem install ffi
# sudo gem install cocoapods
# brew tap facebook/fb
# brew install idb-companion
# # type idb_companion &> /dev/null || (
# #   brew install protobuf grpc
# #   ([ -d /tmp/idb_companion ] || git clone git@github.com:facebook/idb.git /tmp/idb_companion) && \
# #   cd /tmp/idb_companion && \
# #   pod install && \
# #   ./idb_build.sh idb_companion build /opt/homebrew && \
# #   codesign --force --sign - --timestamp=none /opt/homebrew/Frameworks/FBDeviceControl.framework/Versions/A/Resources/libShimulator.dylib && \
# #   codesign --force --sign - --timestamp=none /opt/homebrew/Frameworks/FBSimulatorControl.framework/Versions/A/Resources/libShimulator.dylib && \
# #   codesign --force --sign - --timestamp=none /opt/homebrew/Frameworks/XCTestBootstrap.framework/Versions/A/Resources/libShimulator.dylib && \
# #   codesign --force --sign - --timestamp=none /opt/homebrew/Frameworks/FBControlCore.framework/Versions/A/Resources/libShimulator.dylib && \
# #   idb_companion --version
# # )

# pip3 install fb-idb --break-system-packages
# brew install ios-deploy
{{- end }}
