{{- $nodeOptions := "" -}}

{{- $name := promptStringOnce . "name" "Enter your full name" -}}
{{- $email := promptStringOnce . "email" "Enter your email address" -}}
{{- $sshKey := promptStringOnce . "ssh_key" "Enter your SSH key name" "default" -}}
{{- $onepasswordEnabled := promptBoolOnce . "preferences.onepasswordEnabled" "Enable 1Password integration?" false -}}

{{- $node := promptBoolOnce . "install.node" "Install Node.js development tools?" false -}}
{{- $android := promptBoolOnce . "install.android" "Install Android development tools?" false -}}
{{- $rust := promptBoolOnce . "install.rust" "Install Rust development tools?" false -}}
{{- $ruby := promptBoolOnce . "install.ruby" "Install Ruby development tools?" false -}}
{{- $golang := promptBoolOnce . "install.golang" "Install Golang development tools?" false -}}
{{- $reactnative := promptBoolOnce . "install.reactnative" "Install React Native development tools?" false -}}
{{- $ruby := or $ruby $reactnative }}
{{- $editorChoices := list "code" "cursor" "surf" "zed" -}}
{{- $preferredEditor := promptChoiceOnce . "preferences.editor" "Select your preferred editor" $editorChoices "zed" -}}

{{- $installFlavor := list "light" "full" -}}
{{- $installFlavor := promptChoiceOnce . "preferences.installFlavor" "Select your preferred install flavor" $installFlavor "light" -}}

{{- if $node }}
{{- $nodeOptions := promptStringOnce . "preferences.nodeOptions" "Enter any Node.js options" "" -}}
{{- end }}

{{- $preferredMergeEditor := "surf" -}}
{{- if ne $preferredEditor "zed" -}}
{{- $preferredMergeEditor := $preferredEditor -}}
{{- end -}}

[data]
  name = {{ $name | quote }}
  email = {{ $email | quote }}
  ssh_key = {{ $sshKey | quote }}

[data.preferences]
  editor = {{ $preferredEditor | quote }}
  mergeEditor = {{ $preferredMergeEditor | quote }}
  nodeOptions = {{ $nodeOptions | quote }}
  onepasswordEnabled = {{ $onepasswordEnabled }}
  installFlavor = {{ $installFlavor | quote }}

[data.install]
  android = {{ $android }}
  node = {{ $node }}
  rust = {{ $rust }}
  ruby = {{ $ruby }}
  golang = {{ $golang }}
  reactnative = {{ $reactnative }}

{{- $commonPackages := list "zsh" "git" "curl" "grc" "pv" }}
{{- $lightPackages := list "bat" "fd" "ripgrep" "git-delta" "mise" "starship" "antidote" "sk"}}
{{- $fullPackages := list "aria2" "jq" "gh" "rm-improved" "dust" "procs" "topgrade" "grex" "hwatch" "jj" }}
{{- if and (eq .chezmoi.os "linux") (lookPath "pacman") }}
{{- $commonPackages = $commonPackages | concat (list "base-devel") }}
{{- end }}

{{- if eq .chezmoi.os "linux" }}
[data.packages.system]
  common = {{ $commonPackages | toToml }}

[data.packages.brew]
  light = {{ $lightPackages | toToml }}
  full = {{ $fullPackages | toToml }}
{{- end }}

{{- if eq .chezmoi.os "darwin" }}
[data.packages.system]
  common = {{ $commonPackages | concat (list "coreutils") | toToml }}

[data.packages.brew]
  light = {{ $lightPackages | toToml }}
  full = {{ $fullPackages | toToml }}
{{- end }}

# chezmoi options
[git]
  autoCommit = false
  autoPush = false
  autoAdd = true

[template]
  options = ["missingkey=error"]

[edit]
  command = {{ $preferredEditor | quote }}
  args = ["--wait"]

[diff]
command = {{ $preferredEditor | quote }}
args = ["--wait", "--diff"]

[merge]
  command = "bash"
  args = [
      "-c",
      {{
        printf "cp %s %s.base && %s --new-window --wait --merge %s %s %s.base %s"
        "{{ .Target }}" "{{ .Target }}" $preferredMergeEditor "{{ .Destination }}" "{{ .Target }}" "{{ .Target }}" "{{ .Source }}"
        | quote
      }},
  ]

[onepassword]
  command = "op"
