[submodule "dotfiles/zsh/plugins/dircolors-solarized"]
	path = dotfiles/zsh/plugins/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "dotfiles/awesome-wm.d/lain"]
	path = dotfiles/awesome-wm.d/lain
	url = https://github.com/mtxr/lain
[submodule "dotfiles/dmenu-extended"]
	path = dotfiles/dmenu-extended
	url = https://github.com/MarkHedleyJones/dmenu-extended.git
