#!/bin/zsh

{{ if eq .chezmoi.os "linux" }}
. $HOME/.zsh/linux_env.zsh
{{ end }}
# command -v tmux &>/dev/null \
#   && [ -z $TMUX ] \
#   && [[ ! "$TERM_PROGRAM" =~ vscode ]] \
#   && exec tmux -2

# Bootstrap
. $HOME/.zsh/bootstrap.zsh

{{ if eq .chezmoi.os "darwin" }}
[ -f "${HOME}/.iterm2_shell_integration.zsh" ] && . "${HOME}/.iterm2_shell_integration.zsh"
{{ end }}

# External plugins (initialized after)
. $HOME/.zsh/plugins_after.zsh


# Allow local customizations loading ~/.zsh-load folder
if [ -d "$HOME/.zsh-load" ];then
  for TO_LOAD in $HOME/.zsh-load/*
  do
    . $TO_LOAD
  done
  unset TO_LOAD
fi

# Need a tweak in arch for home and end keys to work properly
# (as well as insert, delete, pageup, pagedown, perhaps others...)
# https://wiki.archlinux.org/index.php/Home_and_End_keys_not_working#Zsh
bindkey "^[[2~" overwrite-mode # Ins
bindkey "^[[3~" delete-char # Del

# but.... home and end key escape sequences
# are DIFFERENT depending on whether I'm in a tmux session or not!
# To determine if tmux is running, examine values of $TERM and $TMUX.
if [[ "$TERM" =~ "screen" ]] && [ -n "$TMUX" ]; then
  bindkey "^[[1~" beginning-of-line
  bindkey "^[[4~" end-of-line
else
  # Assign these keys if tmux is NOT being used:
  bindkey "^[[H" beginning-of-line
  bindkey "^[[F" end-of-line
fi

eval "$(starship init zsh)"