zsh-users/zsh-completions kind:fpath path:src
zsh-users/zsh-history-substring-search
z-shell/F-Sy-H

{{- if eq .preferences.installFlavor "full" }}
djui/alias-tips
mtxr/lwd
mtxr/zsh-change-case
zsh-users/zsh-autosuggestions --branch=master
ohmyzsh/ohmyzsh --path:plugins/git-auto-fetch --file:git-auto-fetch.plugin.zsh
{{- end }}
