#!/bin/zsh

export TERM=${TERM:-xterm-256color}
export EDITOR=vi
export CLICOLOR=1
export VISUAL=$EDITOR
export REACT_EDITOR=$VISUAL
export PAGER=less
export LESS='-F -g -i -M -R -S -w -X -z-4'
export WORDCHARS=''
export WORK_DIR=$HOME/work
export GOPATH=$WORK_DIR/go
export N_PREFIX=${N_PREFIX:-"$HOME/.n"}
export HOMEBREW_NO_AUTO_UPDATE=1
export PATH="$HOME/.yarn/bin:$HOME/.zi/bin:$N_PREFIX/bin:$HOME/.local/bin:$GOPATH/bin:$HOME/.bin:/usr/local/sbin:/usr/local/bin:/sbin:$PATH"

{{- if eq .chezmoi.os "darwin" }}
export PATH="/opt/homebrew/bin:$PATH"
type python3 &> /dev/null || export PATH="$HOME/Library/Python/$(python3 -V | grep '[0-9].[0-9]' -o)/bin:$PATH"

{{- end }}

{{- if eq .chezmoi.os "linux" }}
export PATH="/home/linuxbrew/.linuxbrew/bin:/home/linuxbrew/.linuxbrew/sbin:$PATH"
export PKG_CONFIG_PATH="/usr/lib/x86_64-linux-gnu/pkgconfig/:/usr/share/pkgconfig:/usr/lib/pkgconfig:$PKG_CONFIG_PATH"
{{- end }}
export NODE_OPTIONS={{- default "" .node.options }}
export GIT_CLEAR_BRANCH_EXCLUDE="release|develop|master|development|staging"
export fpath=( $HOME/.autoload-zsh $HOME/.zsh/functions/completions $fpath )
export VSCODE_FILE=$HOME/.vscode-cli
export GPG_TTY=$(tty)
export FZF_DEFAULT_COMMAND='rg --files --no-ignore --hidden --follow -g "!{.git,node_modules}/*" 2> /dev/null'
export HOMEBREW_NO_AUTO_UPDATE=1
export LANG=en_US.UTF-8
export LANGUAGE=$LANG
export LC_ALL=$LANG
export HISTSIZE=10000
export HISTFILE="$HOME/.zsh_history"
export SAVEHIST=$(($HISTSIZE * 1.5))

{{- if .enable.android }}
{{- if eq .chezmoi.os "darwin" }}
export ANDROID_SDK=$HOME/Library/Android/sdk
export ANDROID_SDK_ROOT=$ANDROID_SDK
{{- end }}
{{- if eq .chezmoi.os "linux" }}
export ANDROID_SDK=$HOME/Android/Sdk
export ANDROID_SDK_ROOT=$ANDROID_SDK
{{- end }}
export PATH=$PATH:$ANDROID_SDK/cmdline-tools/latest/bin:$ANDROID_SDK/emulator:$ANDROID_SDK/tools:$ANDROID_SDK/tools/bin:$ANDROID_SDK/platform-tools
{{- end }}
export PATH=$PATH:$(python3 -m site --user-base)/bin
export PATH=$PATH:$GEM_HOME/bin
export PATH=$PATH:$HOMEBREW_PREFIX/bin

if [ -d "$HOME/.volta" ]; then
export VOLTA_HOME="$HOME/.volta"
export PATH="$VOLTA_HOME/bin:$PATH"
fi

{{- if .enable.rust }}
if [ -f $HOME/.cargo/env ]; then
  source "$HOME/.cargo/env"
  export PATH="$PATH:$HOME/.cargo/bin"
fi
{{- end }}

type ssh-agent &> /dev/null && eval $(ssh-agent) &> /dev/null

typeset -U path

setopt APPEND_HISTORY
setopt AUTO_CD
setopt AUTO_LIST
setopt AUTO_MENU
setopt ALWAYS_TO_END
setopt CORRECT_ALL
setopt EXTENDED_GLOB
setopt EXTENDED_HISTORY
setopt GLOB_DOTS
setopt HIST_FIND_NO_DUPS
setopt HIST_IGNORE_ALL_DUPS
setopt HIST_IGNORE_DUPS
setopt HIST_IGNORE_SPACE
setopt HIST_NO_STORE
setopt HIST_REDUCE_BLANKS
setopt HIST_VERIFY
setopt INC_APPEND_HISTORY
setopt INTERACTIVE_COMMENTS
setopt LIST_TYPES
setopt LONG_LIST_JOBS
setopt MENU_COMPLETE
setopt NO_BEEP
setopt NO_HUP
setopt NOTIFY
setopt NULL_GLOB
setopt PROMPT_SUBST
setopt SHARE_HISTORY
setopt EXTENDEDGLOB

# Initialize completion
autoload -Uz compinit
autoload -Uz bashcompinit

# if [ -e ~/.zcompdump ] && [ $(date +'%Y%j') != $(date +'%Y%j' -r ~/.zcompdump) ]; then
#   compinit -i
#   bashcompinit
# else
  compinit -i -C
  bashcompinit -C
# fi

# Aliases
. $HOME/.zsh/aliases.zsh

# Functions
. $HOME/.zsh/functions.zsh
