{{- if eq .chezmoi.os "darwin" }}
# Fig pre block. Keep at the top of this file.
[[ -f "$HOME/.fig/shell/zshrc.pre.zsh" ]] && . "$HOME/.fig/shell/zshrc.pre.zsh"
{{- end }}

export PATH="$HOME/.yarn/bin:$PATH"
export PATH="$HOME/.zi/bin:$PATH"
export PATH="$N_PREFIX/bin:$PATH"
export PATH="$HOME/.local/bin:$PATH"
export PATH="$GOPATH/bin:$PATH"
export PATH="$HOME/.bin:$PATH"
export PATH="/usr/local/sbin:$PATH"
export PATH="/usr/local/bin:$PATH"
export PATH="/sbin:$PATH"

{{- if eq .chezmoi.os "darwin" }}
export PATH="/opt/homebrew/bin:$PATH"
type python3 &> /dev/null || export PATH="$HOME/Library/Python/$(python3 -V | grep '[0-9].[0-9]' -o)/bin:$PATH"
{{- end }}
{{- if eq .chezmoi.os "linux" }}
export PATH="/home/linuxbrew/.linuxbrew/bin:/home/linuxbrew/.linuxbrew/sbin:$PATH"
export PKG_CONFIG_PATH="/usr/lib/x86_64-linux-gnu/pkgconfig/:/usr/share/pkgconfig:/usr/lib/pkgconfig:$PKG_CONFIG_PATH"
{{- end }}
{{- if .enable.android }}
export PATH=$ANDROID_SDK/cmdline-tools/latest/bin:$ANDROID_SDK/emulator:$ANDROID_SDK/tools:$ANDROID_SDK/tools/bin:$ANDROID_SDK/platform-tools:$PATH
{{- end }}
export PATH=$(python3 -m site --user-base)/bin:$PATH
export PATH=$HOME/.rbenv/shims:$GEM_HOME/bin:$PATH
export PATH=$HOMEBREW_PREFIX/bin:$PATH
if [ -d "$HOME/.volta" ]; then
export VOLTA_HOME="$HOME/.volta"
export PATH="$VOLTA_HOME/bin:$PATH"
fi

{{- if .enable.rust }}
if [ -f $HOME/.cargo/env ]; then
  source "$HOME/.cargo/env"
  export PATH="$PATH:$HOME/.cargo/bin"
fi
{{- end }}

{{- if eq .chezmoi.os "linux" }}
. $HOME/.zsh/linux_env.zsh
{{- end }}

# Bootstrap
. $HOME/.zsh/bootstrap.zsh

{{ if eq .chezmoi.os "darwin" }}
[ -f "${HOME}/.iterm2_shell_integration.zsh" ] && . "${HOME}/.iterm2_shell_integration.zsh"
{{ end }}

# External plugins (initialized after)
. $HOME/.zsh/plugins_after.zsh

# Allow local customizations loading ~/.zsh-load folder
if [ -d "$HOME/.zsh-load" ];then
  for TO_LOAD in $HOME/.zsh-load/*
  do
    . $TO_LOAD
  done
  unset TO_LOAD
fi

# Need a tweak in arch for home and end keys to work properly
# (as well as insert, delete, pageup, pagedown, perhaps others...)
# https://wiki.archlinux.org/index.php/Home_and_End_keys_not_working#Zsh
bindkey "^[[2~" overwrite-mode # Ins
bindkey "^[[3~" delete-char # Del

# but.... home and end key escape sequences
# are DIFFERENT depending on whether I'm in a tmux session or not!
# To determine if tmux is running, examine values of $TERM and $TMUX.
if [[ "$TERM" =~ "screen" ]] && [ -n "$TMUX" ]; then
  bindkey "^[[1~" beginning-of-line
  bindkey "^[[4~" end-of-line
else
  # Assign these keys if tmux is NOT being used:
  bindkey "^[[H" beginning-of-line
  bindkey "^[[F" end-of-line
fi

eval "$(starship init zsh)"

command -v dircolors &>/dev/null && eval `dircolors ~/.dircolors/theme`
command -v gdircolors &>/dev/null && eval `gdircolors ~/.dircolors/theme`
{{ if eq .chezmoi.os "darwin" }}
# Fig post block. Keep at the bottom of this file.
[[ -f "$HOME/.fig/shell/zshrc.post.zsh" ]] && . "$HOME/.fig/shell/zshrc.post.zsh"
{{- end }}
