#!/usr/bin/env zsh

chsh -s $(which zsh)

# External plugins (initialized before)
if [ "$(command -v curl)" ]; then
  export WEB_INSTALLER="curl -L"
elif [ "$(command -v wget)" ]; then
  export WEB_INSTALLER="wget -qO-"
else
  echo "To install we need curl or wget to be installed to proceed." >&2
  exit 1
fi

##############################
# Starship prompt            #
##############################
mkdir -p $HOME/.bin
if ! type starship &> /dev/null; then
  {{ if eq .chezmoi.arch "arm64" }}
  brew install -s --build-from-source starship
  {{ end }}
  {{ if eq .chezmoi.arch "arm64" }}
  brew install -s starship
  {{ end }}
fi

##############################
# ZINIT                      #
##############################
if [ ! -d $HOME/.zinit/bin ]; then
  mkdir -p $HOME/.zinit
  git clone https://github.com/zdharma/zinit.git $HOME/.zinit/bin
fi

##############################
# tools auto install    #
##############################
if [ ! -f $HOME/.fzf.zsh ]; then
  $(brew --prefix)/opt/fzf/install --no-update-rc <<EOF
y
EOF
fi
[ -f $HOME/.fzf.zsh ] && . $HOME/.fzf.zsh

if ! type mdv &> /dev/null; then
  echo "Installing 'mdv'..."
  pip3 install --user mdv
fi

[ ! -d $HOME/.autoload-zsh ] && mkdir -p $HOME/.autoload-zsh
if [ ! -f "$HOME/.autoload-zsh/_fzf_compgen_path" ]; then
  echo "#! /usr/bin/env zsh" > $HOME/.autoload-zsh/_fzf_compgen_path
  declare -f _fzf_compgen_path >> $HOME/.autoload-zsh/_fzf_compgen_path
fi

if [ ! -f "$HOME/.autoload-zsh/_fzf_compgen_dir" ]; then
  echo "#! /usr/bin/env zsh" > $HOME/.autoload-zsh/_fzf_compgen_dir
  declare -f _fzf_compgen_dir >> $HOME/.autoload-zsh/_fzf_compgen_dir
fi
set +e

unset TO_INSTALL
[ ! -d $HOME/.tmux/plugins/tpm ] && git clone https://github.com/tmux-plugins/tpm $HOME/.tmux/plugins/tpm

