#!/usr/bin/env zsh

# OSX only
set -e # -e: exit on error
set -x # -e: exit on error

{{ if (eq .chezmoi.os "darwin") }}


export GOPATH=$HOME/projects/go

brew install -f zsh git curl golang pv bat ruby aria2 hub fd ruby-devel

{{ end }}